@tailwind base;
@tailwind components;
@tailwind utilities;

/* base styles */
body {
  @apply bg-fixed bg-cover bg-[url('/background_img.png')];
}
h1, h2 {
  @apply font-bold text-primary text-lg;
}
main {
  @apply max-w-5xl my-5 mx-auto px-5 text-secondary;
}
main > h2 {
  @apply mb-4 pb-2 text-base ;
}
p > a {
  @apply text-primary underline;
}

.link_outline {
  text-shadow: -2px -2px 1px #5e42fc,
  -2px -1px 1px #5e42fc,
  -2px 0 1px #5e42fc,
  -2px 1px 1px #5e42fc,
  -2px 2px 1px #5e42fc,
  -1px -2px 1px #5e42fc,
  -1px -1px 1px #5e42fc,
  -1px 0 1px #5e42fc,
  -1px 1px 1px #5e42fc,
  -1px 2px 1px #5e42fc,
  0 -2px 1px #5e42fc,
  0 -1px 1px #5e42fc,
  0 0 1px #5e42fc,
  0 1px 1px #5e42fc,
  0 2px 1px #5e42fc,
  1px -2px 1px #5e42fc,
  1px -1px 1px #5e42fc,
  1px 0 1px #5e42fc,
  1px 1px 1px #5e42fc,
  1px 2px 1px #5e42fc,
  2px -2px 1px #5e42fc,
  2px -1px 1px #5e42fc,
  2px 0 1px #5e42fc,
  2px 1px 1px #5e42fc,
  2px 2px 1px #5e42fc;}

.h1_outline{
  text-shadow: -2px -2px 1px #FAFAFA,
  -2px -1px 1px #FAFAFA,
  -2px 0 1px #FAFAFA,
  -2px 1px 1px #FAFAFA,
  -2px 2px 1px #FAFAFA,
  -1px -2px 1px #FAFAFA,
  -1px -1px 1px #FAFAFA,
  -1px 0 1px #FAFAFA,
  -1px 1px 1px #FAFAFA,
  -1px 2px 1px #FAFAFA,
  0 -2px 1px #FAFAFA,
  0 -1px 1px #FAFAFA,
  0 0 1px #FAFAFA,
  0 1px 1px #FAFAFA,
  0 2px 1px #FAFAFA,
  1px -2px 1px #FAFAFA,
  1px -1px 1px #FAFAFA,
  1px 0 1px #FAFAFA,
  1px 1px 1px #FAFAFA,
  1px 2px 1px #FAFAFA,
  2px -2px 1px #FAFAFA,
  2px -1px 1px #FAFAFA,
  2px 0 1px #FAFAFA,
  2px 1px 1px #FAFAFA,
  2px 2px 1px #FAFAFA;}

/* nav styles */
nav {
  @apply
  p-2
  flex items-center justify-between
  my-0 mx-auto
  max-w-5xl
  bg-navbar
  tracking-widest
  font-bold;
}
nav a, nav span {
  @apply text-secondary
  text-lg;
}
nav a:hover {
  @apply link_outline ease-out duration-100;
}
nav a:not(:hover) {
  @apply ease-out duration-1000;
}
main nav {
  @apply border-0;
}

/* button styles */
button {
  @apply
  px-3 py-3
  rounded-full
  uppercase
  flex justify-between items-center gap-2
  text-base
  font-bold
  tracking-wider
  border-primary
  border-4
  select-none;
}
button:hover {
  @apply bg-primary text-secondary transition ease-out duration-500;
}

button:not(:hover) {
  @apply bg-main_background transition ease-out duration-500;
}

@keyframes button_shake {
  0%, 100% { transform: translateX(0); }
  20%, 60% { transform: translateX(-5px); }
  40%, 80% { transform: translateX(5px); }
}

.animate-shake {
  animation: button_shake 0.4s;
}

/* svg styles */
@keyframes spinSvg {
  100% {
    transform: rotate(540deg);
  }
}
.svg-animate-rotate:hover svg {
  animation: spinSvg 1s forwards; /* Animation with forwards fill mode */
}

@keyframes scaleSvg {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.svg-animate-scale:hover svg {
  animation: scaleSvg 0.5s forwards; /* Animation with forwards fill mode */
}

/* card styles */
.card {
  @apply
  bg-card
  shadow-sm
  rounded-3xl
  relative
  overflow-hidden
  border-primary border-4
  text-center;
}
.card h3 {
  @apply
  font-bold text-gray-700 text-sm
  mb-0;
}
.card p {
  @apply my-4 leading-6 text-secondary text-lg;
}

@media (min-width: 640px) {
  .card:hover {
    @apply scale-105 ease-out duration-500;
  }

  .card:not(:hover) {
    @apply scale-100 ease-out duration-500;
  }
}

/* badge styles */
.badge{
  @apply bg-gray-50 text-secondary text-xs uppercase font-bold rounded-full p-2 select-none;
}

.badge.Hiatus {
  @apply bg-red-400 text-red-800;
}
.badge.OnGoing {
  @apply bg-yellow-400 text-yellow-800;
}
.badge.Completed {
  @apply bg-emerald-400 text-emerald-800;
}

/* glassy animation */
.glassy-animation::after {
  content: '';
  position: absolute;
  height: 200%;
  width: 200%;
  bottom: 0;
  right: 60px;
  z-index: 2;
  background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 55%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(45%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.2)), color-stop(55%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 55%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 55%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 55%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 55%, rgba(255, 255, 255, 0) 100%);
  pointer-events: none;
}

.glassy-animation:hover::after{
  animation: shiny 1200ms infinite linear;
}

@keyframes shiny {
  0% {
    top: 10%;
    left: 10%;
  }

  50% {
    top: -100%;
    left: -150%;
  }

  100% {
    top: -100%;
    left: -150%;
  }
}