@tailwind base;
@tailwind components;
@tailwind utilities;

/* base styles */
body {
  background: #202020;
}
h1, h2 {
  @apply font-bold text-primary text-lg;
}
main {
  @apply max-w-5xl my-12 mx-auto px-8;
}
main > h2 {
  @apply mb-4 pb-2 text-base ;
}
p > a {
  @apply text-primary underline;
}

/* nav styles */

.link_outline{
  text-shadow: -2px -2px 1px #5e42fc,
  -2px -1px 1px #5e42fc,
  -2px 0 1px #5e42fc,
  -2px 1px 1px #5e42fc,
  -2px 2px 1px #5e42fc,
  -1px -2px 1px #5e42fc,
  -1px -1px 1px #5e42fc,
  -1px 0 1px #5e42fc,
  -1px 1px 1px #5e42fc,
  -1px 2px 1px #5e42fc,
  0 -2px 1px #5e42fc,
  0 -1px 1px #5e42fc,
  0 0 1px #5e42fc,
  0 1px 1px #5e42fc,
  0 2px 1px #5e42fc,
  1px -2px 1px #5e42fc,
  1px -1px 1px #5e42fc,
  1px 0 1px #5e42fc,
  1px 1px 1px #5e42fc,
  1px 2px 1px #5e42fc,
  2px -2px 1px #5e42fc,
  2px -1px 1px #5e42fc,
  2px 0 1px #5e42fc,
  2px 1px 1px #5e42fc,
  2px 2px 1px #5e42fc
;}

.h1_outline{
  text-shadow: -2px -2px 1px #FAFAFA,
  -2px -1px 1px #FAFAFA,
  -2px 0 1px #FAFAFA,
  -2px 1px 1px #FAFAFA,
  -2px 2px 1px #FAFAFA,
  -1px -2px 1px #FAFAFA,
  -1px -1px 1px #FAFAFA,
  -1px 0 1px #FAFAFA,
  -1px 1px 1px #FAFAFA,
  -1px 2px 1px #FAFAFA,
  0 -2px 1px #FAFAFA,
  0 -1px 1px #FAFAFA,
  0 0 1px #FAFAFA,
  0 1px 1px #FAFAFA,
  0 2px 1px #FAFAFA,
  1px -2px 1px #FAFAFA,
  1px -1px 1px #FAFAFA,
  1px 0 1px #FAFAFA,
  1px 1px 1px #FAFAFA,
  1px 2px 1px #FAFAFA,
  2px -2px 1px #FAFAFA,
  2px -1px 1px #FAFAFA,
  2px 0 1px #FAFAFA,
  2px 1px 1px #FAFAFA,
  2px 2px 1px #FAFAFA
;
;}

nav {
  @apply
  p-2
  flex items-center justify-between
  my-0 mx-auto
  max-w-5xl
  bg-navbar
  font-bold;
}
nav a, nav span {
  @apply text-secondary
  text-lg;
}
nav a:hover {
  @apply link_outline;
}
main nav {
  @apply border-0;
}

/* button styles */
button {
  @apply
  px-3 py-2
  rounded-sm
  flex justify-between items-center gap-2
  text-sm;
}
button:hover {
  @apply bg-opacity-90;
}
.btn-primary {
  @apply bg-primary text-white;
}
.btn-secondary {
  @apply bg-gray-200 text-gray-900;
}

/* form styles */
form {
  @apply
  py-4 px-7
  bg-primary
  bg-opacity-5
  rounded-md
  block
  mx-auto
  min-w-fit w-1/4;
}
form label {
  @apply block;
}
form input,
form textarea,
form select {
  @apply
  block
  mt-2 my-4 px-2 py-1
  rounded-sm w-full;
}
form button {
  @apply block mx-auto;
}

/* feedback styles */
.error {
  @apply
  border-2
  border-red-500
  bg-red-300
  text-red-800
  py-1 px-2
  rounded-sm
  block
  max-w-fit
  my-4 mx-auto;
}

/* card styles */
.card {
  @apply
  bg-card
  shadow-sm
  rounded-md
  py-3 px-4 my-4
  relative
  overflow-hidden
  text-center
  ;
}
.card h3 {
  @apply
  font-bold text-gray-700 text-sm
  mb-0;
}
.card p {
  @apply my-4 leading-6 text-secondary text-lg;
}

/* pill styles */
.pill {
  @apply
  py-1 px-2 mt-3
  inline-block
  text-xs font-semibold;
}
.pill.high {
  @apply bg-red-300 text-red-600;
}
.pill.medium {
  @apply bg-blue-300 text-blue-600;
}
.pill.low {
  @apply bg-emerald-300 text-emerald-600;
}
.card .pill {
  @apply
  absolute bottom-0 right-0
  rounded-tl-md;
}