@tailwind base;
@tailwind components;
@tailwind utilities;

/* base styles */
body {
  background-color: #171717;
  @apply bg-fixed bg-cover bg-[url('/background_img.png')];
}
h1, h2 {
  @apply font-bold text-primary text-lg;
}
main {
  @apply max-w-5xl my-5 mx-auto px-5 text-secondary;
}
main > h2 {
  @apply mb-4 pb-2 text-base ;
}
p > a {
  @apply text-primary underline;
}

.link_outline {
  --outline-color: #5e42fc;
  text-shadow: -2px -2px 1px var(--outline-color),
  -2px -1px 1px var(--outline-color),
  -2px 0 1px var(--outline-color),
  -2px 1px 1px var(--outline-color),
  -2px 2px 1px var(--outline-color),
  -1px -2px 1px var(--outline-color),
  -1px -1px 1px var(--outline-color),
  -1px 0 1px var(--outline-color),
  -1px 1px 1px var(--outline-color),
  -1px 2px 1px var(--outline-color),
  0 -2px 1px var(--outline-color),
  0 -1px 1px var(--outline-color),
  0 0 1px var(--outline-color),
  0 1px 1px var(--outline-color),
  0 2px 1px var(--outline-color),
  1px -2px 1px var(--outline-color),
  1px -1px 1px var(--outline-color),
  1px 0 1px var(--outline-color),
  1px 1px 1px var(--outline-color),
  1px 2px 1px var(--outline-color),
  2px -2px 1px var(--outline-color),
  2px -1px 1px var(--outline-color),
  2px 0 1px var(--outline-color),
  2px 1px 1px var(--outline-color),
  2px 2px 1px var(--outline-color);}

.thin_link_outline{
  text-shadow: -1px 2px 1px #5e42fc,
  1px 2px 1px #5e42fc,
  -1px 1px 1px #5e42fc,
  1px 1px 1px #5e42fc,
  -1px 0 1px #5e42fc,
  1px 0 1px #5e42fc,
  -1px -1px 1px #5e42fc,
  1px -1px 1px #5e42fc;}

.navbar_outline_base {
  text-shadow: none;
  transition: text-shadow 1000ms ease-out;
}

@media (min-width: 640px) {
  .navbar_outline_base:hover {
    text-shadow: -2px -2px 1px var(--outline-color),
    -2px -1px 1px var(--outline-color),
    -2px 0 1px var(--outline-color),
    -2px 1px 1px var(--outline-color),
    -2px 2px 1px var(--outline-color),
    -1px -2px 1px var(--outline-color),
    -1px -1px 1px var(--outline-color),
    -1px 0 1px var(--outline-color),
    -1px 1px 1px var(--outline-color),
    -1px 2px 1px var(--outline-color),
    0 -2px 1px var(--outline-color),
    0 -1px 1px var(--outline-color),
    0 0 1px var(--outline-color),
    0 1px 1px var(--outline-color),
    0 2px 1px var(--outline-color),
    1px -2px 1px var(--outline-color),
    1px -1px 1px var(--outline-color),
    1px 0 1px var(--outline-color),
    1px 1px 1px var(--outline-color),
    1px 2px 1px var(--outline-color),
    2px -2px 1px var(--outline-color),
    2px -1px 1px var(--outline-color),
    2px 0 1px var(--outline-color),
    2px 1px 1px var(--outline-color),
    2px 2px 1px var(--outline-color);
    transition: text-shadow 100ms ease-out;
  }
}

.text_outline.thin {
  --shadow-color: #000000; /* Default color */
  text-shadow:
          -1px 2px 1px var(--shadow-color),
          1px 2px 1px var(--shadow-color),
          -1px 1px 1px var(--shadow-color),
          1px 1px 1px var(--shadow-color),
          -1px 0 1px var(--shadow-color),
          1px 0 1px var(--shadow-color),
          -1px -1px 1px var(--shadow-color),
          1px -1px 1px var(--shadow-color);
}
.text_outline.thick {
  --shadow-color: #000000; /* Default color */
  text-shadow:
          -2px -2px 1px var(--shadow-color),
          -2px -1px 1px var(--shadow-color),
          -2px 0 1px var(--shadow-color),
          -2px 1px 1px var(--shadow-color),
          -2px 2px 1px var(--shadow-color),
          -1px -2px 1px var(--shadow-color),
          -1px -1px 1px var(--shadow-color),
          -1px 0 1px var(--shadow-color),
          -1px 1px 1px var(--shadow-color),
          -1px 2px 1px var(--shadow-color),
          0 -2px 1px var(--shadow-color),
          0 -1px 1px var(--shadow-color),
          0 0 1px var(--shadow-color),
          0 1px 1px var(--shadow-color),
          0 2px 1px var(--shadow-color),
          1px -2px 1px var(--shadow-color),
          1px -1px 1px var(--shadow-color),
          1px 0 1px var(--shadow-color),
          1px 1px 1px var(--shadow-color),
          1px 2px 1px var(--shadow-color),
          2px -2px 1px var(--shadow-color),
          2px -1px 1px var(--shadow-color),
          2px 0 1px var(--shadow-color),
          2px 1px 1px var(--shadow-color),
          2px 2px 1px var(--shadow-color);
}

.h1_outline{
  text-shadow: -2px -2px 1px #FAFAFA,
  -2px -1px 1px #FAFAFA,
  -2px 0 1px #FAFAFA,
  -2px 1px 1px #FAFAFA,
  -2px 2px 1px #FAFAFA,
  -1px -2px 1px #FAFAFA,
  -1px -1px 1px #FAFAFA,
  -1px 0 1px #FAFAFA,
  -1px 1px 1px #FAFAFA,
  -1px 2px 1px #FAFAFA,
  0 -2px 1px #FAFAFA,
  0 -1px 1px #FAFAFA,
  0 0 1px #FAFAFA,
  0 1px 1px #FAFAFA,
  0 2px 1px #FAFAFA,
  1px -2px 1px #FAFAFA,
  1px -1px 1px #FAFAFA,
  1px 0 1px #FAFAFA,
  1px 1px 1px #FAFAFA,
  1px 2px 1px #FAFAFA,
  2px -2px 1px #FAFAFA,
  2px -1px 1px #FAFAFA,
  2px 0 1px #FAFAFA,
  2px 1px 1px #FAFAFA,
  2px 2px 1px #FAFAFA;}

/* Custom Scrollbar for Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 12px;
  background-color: #151515; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #303030; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Round the thumb */
  border: 3px solid #151515; /* Add space around the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #404040; /* Change thumb color on hover */
}

/* nav styles */
nav {
  @apply
  p-2
  flex items-center justify-between
  my-0 mx-auto
  max-w-5xl
  tracking-widest
  font-bold;
}
nav a, nav span {
  @apply text-lg;
}
main nav {
  @apply border-0;
}

/* button styles */
button {
  @apply
  p-3
  rounded-full
  uppercase
  flex justify-between items-center gap-2
  text-base
  font-bold
  tracking-wider
  border-primary
  border-4
  select-none
  bg-card;
  transition: transform 0.2s ease-out, background-color 0.2s ease-out, color 0.2s ease-out;
}

@media (min-width: 640px) {
  button:hover {
    @apply bg-primary text-secondary;
    transform: scale(1.05);
  }

  button:not(:hover) {
    @apply transform scale-100 ease-in duration-200;
  }
}

@keyframes button_shake {
  0%, 100% { transform: translateX(0); }
  20%, 60% { transform: translateX(-5px); }
  40%, 80% { transform: translateX(5px); }
}

.animate-shake {
  animation: button_shake 0.4s;
}

/* svg styles */
@media (min-width: 640px) {
  .svg-animate-rotate svg {
    transition: transform 1s ease;
    transform: rotate(0deg);
  }

  .svg-animate-rotate:hover svg {
    transform: rotate(540deg);
  }

  .svg-animate-scale svg {
    transition: transform 0.5s ease;
    transform: scale(1);
  }

  .svg-animate-scale:hover svg {
    transform: scale(1.2);
  }
}

/* card styles */
.card {
  @apply
  bg-card
  max-sm:shadow-cardBs shadow-cardB
  max-sm:rounded-b-lg max-sm:rounded-3xl rounded-b-lg rounded-[20px]
  relative
  overflow-hidden
  text-center;
  transition: transform 0.5s ease;
  transform: scale(1)
}
.card h3 {
  @apply
  font-bold text-gray-700 text-sm
  mb-0;
}
.card p {
  @apply my-4 leading-6 text-secondary text-lg;
}

@media (min-width: 640px) {
  .card:hover {
    transform: scale(1.05);
  }
}

/* badge styles */
.badge{
  @apply bg-gray-50 text-secondary text-xs uppercase font-extrabold rounded-full p-[5px] max-sm:p-1 select-none;
}

.badge.Hiatus {
  @apply bg-red-400 text-red-800;
}
.badge.OnGoing {
  @apply bg-yellow-400 text-yellow-800 p-[3px] max-sm:p-[2px];
}
.badge.Completed {
  @apply bg-emerald-400 text-emerald-800;
}

/* source styles */
.source {
  @apply
  w-6 h-6
  max-sm:w-[26px] max-sm:h-[26px]
  rounded-full
  opacity-80
  max-sm:left-[31px] max-sm:mt-11 mb-4 max-sm:absolute max-sm:top-0
  select-none
  shadow-primaryB
  bg-cover;
}

/* glassy animation */
@media (min-width: 640px) {
  .glassy-animation::after {
    content: '';
    position: absolute;
    height: 200%;
    width: 200%;
    bottom: 0;
    right: 60px;
    z-index: 2;
    background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 55%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(45%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.2)), color-stop(55%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 55%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 55%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 55%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 55%, rgba(255, 255, 255, 0) 100%);
    pointer-events: none;
  }

  .glassy-animation:hover::after {
    animation: shiny 1200ms infinite linear;
  }
}

@keyframes shiny {
  0% {
    top: 10%;
    left: 10%;
  }

  50% {
    top: -100%;
    left: -150%;
  }

  100% {
    top: -100%;
    left: -150%;
  }
}