@tailwind base;
@tailwind components;
@tailwind utilities;

/* base styles */
body {
  @apply bg-main_background
}
h1, h2 {
  @apply font-bold text-primary text-lg;
}
main {
  @apply max-w-5xl my-5 mx-auto px-8 text-secondary;
}
main > h2 {
  @apply mb-4 pb-2 text-base ;
}
p > a {
  @apply text-primary underline;
}

/* nav styles */

.link_outline {
  text-shadow: -2px -2px 1px #5e42fc,
  -2px -1px 1px #5e42fc,
  -2px 0 1px #5e42fc,
  -2px 1px 1px #5e42fc,
  -2px 2px 1px #5e42fc,
  -1px -2px 1px #5e42fc,
  -1px -1px 1px #5e42fc,
  -1px 0 1px #5e42fc,
  -1px 1px 1px #5e42fc,
  -1px 2px 1px #5e42fc,
  0 -2px 1px #5e42fc,
  0 -1px 1px #5e42fc,
  0 0 1px #5e42fc,
  0 1px 1px #5e42fc,
  0 2px 1px #5e42fc,
  1px -2px 1px #5e42fc,
  1px -1px 1px #5e42fc,
  1px 0 1px #5e42fc,
  1px 1px 1px #5e42fc,
  1px 2px 1px #5e42fc,
  2px -2px 1px #5e42fc,
  2px -1px 1px #5e42fc,
  2px 0 1px #5e42fc,
  2px 1px 1px #5e42fc,
  2px 2px 1px #5e42fc;}

.h1_outline{
  text-shadow: -2px -2px 1px #FAFAFA,
  -2px -1px 1px #FAFAFA,
  -2px 0 1px #FAFAFA,
  -2px 1px 1px #FAFAFA,
  -2px 2px 1px #FAFAFA,
  -1px -2px 1px #FAFAFA,
  -1px -1px 1px #FAFAFA,
  -1px 0 1px #FAFAFA,
  -1px 1px 1px #FAFAFA,
  -1px 2px 1px #FAFAFA,
  0 -2px 1px #FAFAFA,
  0 -1px 1px #FAFAFA,
  0 0 1px #FAFAFA,
  0 1px 1px #FAFAFA,
  0 2px 1px #FAFAFA,
  1px -2px 1px #FAFAFA,
  1px -1px 1px #FAFAFA,
  1px 0 1px #FAFAFA,
  1px 1px 1px #FAFAFA,
  1px 2px 1px #FAFAFA,
  2px -2px 1px #FAFAFA,
  2px -1px 1px #FAFAFA,
  2px 0 1px #FAFAFA,
  2px 1px 1px #FAFAFA,
  2px 2px 1px #FAFAFA;}


nav {
  @apply
  p-2
  flex items-center justify-between
  my-0 mx-auto
  max-w-5xl
  bg-navbar
  tracking-widest
  font-bold;
}
nav a, nav span {
  @apply text-secondary
  text-lg;
}
nav a:hover {
  @apply link_outline ease-out duration-100;
}
nav a:not(:hover) {
  @apply ease-out duration-1000;
}
main nav {
  @apply border-0;
}

/* button styles */
button {
  @apply
  px-3 py-3
  rounded-full
  uppercase
  flex justify-between items-center gap-2
  text-base
  font-bold
  tracking-wider
  border-primary
  border-4
  select-none;
}
button:hover {
  @apply bg-primary text-secondary transition ease-out duration-500;
}

button:not(:hover) {
  @apply bg-main_background transition ease-out duration-500;
}

/* form styles */
form {
  @apply
  py-4 px-7
  bg-primary
  bg-opacity-5
  rounded-md
  block
  mx-auto
  min-w-fit w-1/4;
}
form label {
  @apply block;
}
form input,
form textarea,
form select {
  @apply
  block
  mt-2 my-4 px-2 py-1
  rounded-sm w-full;
}
form button {
  @apply block mx-auto;
}

/* feedback styles */
.error {
  @apply
  border-2
  border-red-500
  bg-red-300
  text-red-800
  py-1 px-2
  rounded-sm
  block
  max-w-fit
  my-4 mx-auto;
}

/* card styles */
.card {
  @apply
  bg-card
  shadow-sm
  rounded-3xl
  relative
  overflow-hidden
  border-primary border-4
  text-center;
}
.card h3 {
  @apply
  font-bold text-gray-700 text-sm
  mb-0;
}
.card p {
  @apply my-4 leading-6 text-secondary text-lg;
}

.card:hover {
  @apply scale-105 ease-out duration-500;
}

.card:not(:hover) {
  @apply scale-100 ease-out duration-500;
}

/* pill styles *//*
.pill {
  @apply
  py-1 px-2 mt-3
  inline-block
  text-xs font-semibold;
}
.card .pill {
  @apply
  absolute bottom-0 right-0
  rounded-tl-md;
}*/

/* badge styles */
.badge{
  @apply bg-gray-50 text-secondary text-xs uppercase font-bold rounded-full p-2 absolute top-0 ml-2 mt-2;
}

.badge.Hiatus {
  @apply bg-red-400 text-red-800;
}
.badge.OnGoing {
  @apply bg-yellow-400 text-yellow-800;
}
.badge.Completed {
  @apply bg-emerald-400 text-emerald-800;
}